
/*** リセット ***/

/*テキスト突き抜け対策*/
* { margin:0; padding:0; word-break:break-word; box-sizing: border-box; }

/* はみ出し対策 */
*:after { display:block; clear:both; }

ul {
	list-style: none;
}

p, div, section, nav, span, a, input, select, textarea {
	line-height: 1;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: normal;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
  height: auto;
}

button {
	background: none;
	border: none;
}

/*** base ***/
body, #root {
  width: 100%;
  height: 100vh;
  background: #202020;
  font-family: メイリオ,Meiryo,ＭＳ ゴシック,Hiragino Kaku Gothic ProN,ヒラギノ角ゴ ProN W3,sans-serif;
}

/*** コンテナ ***/
.container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

/*** メイン ***/
.main {
  height: 100vh;
  overflow-y: scroll;
  padding: 40px 0;
  flex-grow: 1;
  scrollbar-width: none;

}

.main::-webkit-scrollbar{
  display: none;
}

/*** ヘッダー ***/
.header {
  width: 360px;
  margin: 0 0 110px 40px;
}

.site-title {
  width: 100%;
}

.site-title__img {
  width: 100%;
  display: block;
}

/*** コンテンツ ***/
.contents {
  width: 72%;
  max-width: 600px;
  min-width: 500px;
  margin: 0 auto;
}

.greet {
  margin-bottom: 60px;
  padding: 22px;
  color: #ffffff;
  background: #2e2d2d;
  border-radius: 10px ;
}

.greet__text {
  padding-left: 20px;
  line-height: 1.8;
  border-left: 1px solid #ffffff;
}

.guidance {
  margin-bottom: 40px;
  padding: 18px 20px;
  background: #164d6a;
  border-radius: 10px;
}

.guidance__list {
  color: #a8c4d3;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.guidance__list:not(:last-child) {
  margin-bottom: 12px;
}

.guidance__list-img {
  width: 24px;
  margin-right: 12px;
}

/*** フォーム ***/
.form-area {
  width: 72%;
  max-width: 600px;
  min-width: 500px;
  margin: 0 auto;
  position: sticky;
  top: 82vh;
  top: 82dvh;
}

.form__input-text {
  width: 100%;
  padding: 18px 47px 18px 20px;
  color: #a8c4d3;
  font-size: 16px;
  background: #164d6a;
  border-radius: 10px;
  border: none;
}

.form__input-text::placeholder {
  color: #61899e;
}

.form__btn-wrap {
  width: fit-content;
  margin: 0 6px 6px auto;
  display: flex;
  position: absolute;
  right: 10px;
  top: -42px;
}

.form__btn {
  width: 30px;
  margin-left: 12px;
}

.form__btn:hover {
  cursor: pointer;
}

.form__btn-img {
  width: 100%;
}

.form__submit {
  width: 23px;
  position: absolute;
  top: 14px;
  right: 14px;
}

.form__submit:hover {
  cursor: pointer;
}

/*** 背景画像 ***/
.bg-img {
  height: 100vh;
  background: url(./assets/bg.jpg) no-repeat right -280px;
  background-size: auto 144%;
  width: 520px;
}

/*** 回答 ***/
.loading {
  width: fit-content;
  margin: 20px auto;
  padding: 6px 20px;
  color: #164d6a;
  text-align: center;
  background: #a8c4d3;
  display: block;
  border-radius: 30px;
}

.answer {
  margin-bottom: 70px;
  padding: 18px 20px;
  background: #164d6a;
  border-radius: 10px;
  display: none;
}

.answer p, .answer li {
  margin-bottom: 1.5em;
  color: #a8c4d3;
  line-height: 1.8;
}


/* SP用 */
@media only screen and (max-width: 700px) {

  .main {
    padding: 22px 0 40px 0;
  }

  .header {
    width: 60%;
    margin: 0 0 20% 24px;
  }

  .container {
    height: 100vh;
    overflow: hidden;
    display: block;
    background: url(./assets/bg.jpg) no-repeat fixed right 28%;
    background-size: 100% auto;
  }

  .bg-img {
    display: none;
  }

  .contents {
    width: 90%;
    max-width: auto;
    min-width: auto;
  }

  .site-title__img {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
  }

  .greet {
    padding: 4%;
    background: rgba(0, 0, 0, 0.7);
  }

  .greet__text {
    font-size: 15px;
    padding-left: 4%;
  }

  .guidance {
    display: none;
  }

  .answer {
    margin-bottom: 60px;
    background: rgba(22, 77, 106, 0.85);
  }

  .answer p, .answer li {
    color: #bbd7e7;
  }

  .form-area {
    width: 90%;
    max-width: auto;
    min-width: auto;
  }

  .form__btn-wrap {
    display: none;
  }

  .form__btn-img {
    filter: brightness(122%);
  }

  .form__input-text {
    color: #bbd7e7;
    background: rgba(22, 77, 106, 0.85);
  }

  .form__input-text::placeholder {
    color: #7aa7bf;
  }

}

/* 701pxから1060pxの間 */
@media only screen and (min-width: 701px) and (max-width: 1060px) {

  .header {
    width: 280px;
    margin: 0 0 110px 5%;
  }

  .contents {
    width: 74%;
    min-width: 380px;
  }

  .form-area {
    width: 74%;
    min-width: 380px;
  }

  .bg-img {
    background-position: right -208px;
    background-size: auto 128%;
    width: 300px;
  }

}
